<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="<%bot.user.username%>" />
    <meta property="og:title" content="<%= bot.user.username %> Dashboard" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="<% if(bot.appInfo.description.length > 3) { %> <%= bot.appInfo.description %> <% } else { %>No description given.<% }%>" />
    <meta property="og:image" content="<%= bot.user.displayAvatarURL %>"/>
    <meta property="og:site_name" content="<%= bot.user.username %> Dashboard">
    <meta property="og:locale" content="en">


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/themes/slate.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/public/css/main.css">

    <title><%= bot.user.username %></title>
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/"><img src="<%= bot.user.avatarURL %>" width="50" height="50" class="d-inline-block align-center rounded-circle" alt=""> <%= bot.user.username %></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/commands">Commands </a>
            <a class="nav-item nav-link" href="https://discordapp.com/oauth2/authorize?client_id=<%= bot.appInfo.id %>&permissions=2146958551&scope=bot&response_type=code&redirect_uri=<%= encodeURIComponent(bot.config.dashboard.callbackURL) %>">Add to my server </a>
        </div>

        <% if(user) { %>
        <div class="navbar-nav justify-content-end align-items-center">
            <div class="btn-group">
                <a class="btn btn-primary dropdown-toggle dropdown-toggle-servers w-100 h-75" data-toggle="dropdown" href="#">Pick a server <span class="caret"></span></a>
                <ul class="dropdown-menu dropdown-menu-servers w-100">

                    <% user.guilds.forEach(guild => {

                        const permsOnGuild = new perms(guild.permissions);
                        if(!permsOnGuild.has("MANAGE_GUILD")) return;%>

                        <li class="dropdown-item server-select-dropdown-item"><a href="/servers/<%=guild.id%>"><%=guild.name%></a></li>

                    <% }); %>
                </ul>
            </div>

            <div class="dropdown show">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img width="30" height="30" class="d-inline-block align-center rounded-circle" src="https://media.discordapp.net/avatars/<%=user.id%>/<%=user.avatar%>.jpg"> <%= user.username %>
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/servers"><i class="fa fa-cogs" aria-hidden="true"></i> Servers</a>
                    <% if(user.id === bot.appInfo.owner.id) { %>
                    <a class="dropdown-item" href="/admin"><i class="fa fa-key"></i> Admin</a>
                    <% } %>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                </div>
            </div>
            <% } else { %>
            <a href="/login" class="nav-link"><i class="fa fa-key" aria-hidden="true"></i> Login</a>
            <% } %>
        </div>
    </div>
</nav>

<main role="main">
