<div class="card-header">Live Statistics</div>
<div class="card-body">

    <div class="row justify-content-md-center">
        <table id="table">
            <tr>
                <td data-field="key" class="key text-left"><i class="fa fa-fw fa-server" aria-hidden="true"></i> Servers:</td>
                <td data-field="value" class="text-left"><strong><%= stats.servers %></strong></td>
            </tr>
            <tr>
                <td data-field="key" class="key text-left"><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i> Uptime:</td>
                <td data-field="value" class="text-left"><strong><%= stats.uptime %></strong></td>
            </tr>
            <tr>
                <td data-field="key" class="key text-left"><i class="fa fa-fw fa-users" aria-hidden="true"></i> Members:</td>
                <td data-field="value" class="text-left"><strong><%= stats.members %></strong></td>
            </tr>
            <tr>
                <td data-field="key" class="key text-left"><i class="fa fa-fw fa-tasks" aria-hidden="true"></i> Memory:</td>
                <td data-field="value" class="text-left"><strong><%= stats.memoryUsage %> MB</strong></td>
            </tr>
            <tr>
                <td data-field="key" class="key text-left"><i class="fa fa-fw fa-hashtag" aria-hidden="true"></i> Text Channels:</td>
                <td data-field="value" class="text-left"><strong><%= stats.text %></strong></td>
            </tr>
            <tr>
                <td data-field="key" class="key text-left"><i class="fa fa-fw fa-microphone" aria-hidden="true"></i> Voice Channels:</td>
                <td data-field="value" class="text-left"><strong><%= stats.voice %></strong></td>
            </tr>
            <tr>
                <td data-field="key" class="key text-left"><i class="fa fa-fw fa-microphone" aria-hidden="true"></i> Voice Channels:</td>
                <td data-field="value" class="text-left"><strong><%= stats.text %></strong></td>
            </tr>
        </table>
    </div>

</div>